<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile List</title>

</head>
<body>
    <h1>Поиск друзей в ДВФУ</h1>

    <button type="submit"><a href="{% url 'create_profile' %}">Создать пользователя</a></button>
        <form method="get">
          <input type="text" name="q" placeholder="Поиск">
          <button type="submit">Искать</button>
        </form>

       <form action="{% url 'profile_list' %}" method="get">
       <label for="gender_filter">Пол:</label>
       <select name="gender_filter">
           <option value="">Любой</option>
           <option value="M">Мужской</option>
           <option value="F">Женский</option>
       </select>

       <label for="age_filter">Возраст:</label>
       <input type="text" name="age_filter">
       <input type="submit" value="Фильтр">
   </form>
    {% if message %}
        <H3>{{ message }}</H3>
        {% endif %}

    {% if profiles %}
        <ul>
            {% for profile in profiles %}

    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" alt="Фото" style="max-height:300px">
    {% else %}
        <p>Нет фотографии</p>
    {% endif %}

<li>
                    <h2><a href="{% url 'profile_detail' profile.id %}">{{ profile.first_name }} {{ profile.last_name }}, {{ profile.age }}</a></h2>
</li>
            <li><a href="{% url 'edit_profile' profile.id %}">Изменить профиль</a></li>
            <a href="{% url 'delete_profile' profile.id %}">Удалить профиль</a>
            {% endfor %}
        </ul>
    {% endif %}


</body>
</html>

